# Build output
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider
.idea/

# Visual Studio
.vs/

# NuGet Packages
*.nupkg
*.snupkg
packages/

# Logs
*.log

# Publish output
publish/

# Resharper
_ReSharper*/

# DotCover
*.dotCover

# VS Code
.vscode/

# Temporary files
*.tmp
*.temp

# Others
*.dbmdl
